body {
  font-family: "Montserrat", "Avenir";
  background-color: #232323;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 25%;
  transition: background-color 0.5s;
  --webkit-transiton: background-color 0.5s;
  --moz-transition: background-color 0.5s;
}

#container {
  margin: 50px auto;
  max-width: 600px;
}

h1 {
  font-weight: normal;
  text-align: center;
  color: white;
  background-color: steelblue;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background-color: steelblue;
}

#colorDisplay {
  font-size: 200%;
}

button {
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
  font-weight: 700;
  color: steelblue;
  height: 100%;
  font-size: inherit;
  transition: all 0.3s;
  --webkit-transiton: all 0.3s;
  --moz-transition: all 0.3s;
}

#message {
  display: inline-block;
  width: 20%;
}

button:hover {
  color: white;
  background-color: steelblue;
}
